<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      </head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1><strong>Latest Mars News</strong></h1>
        <h2>{{ mars_info.news_title }}</h2>
        <h3>{{ mars_info.news_p}}</h3>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px;">
      <div class="col-md-7">
        <h2>Featured Mars Image</h2>
        <img src="{{ mars_info.featured_image_url }}" alt="Mars" class="img-fluid" width= '800px' height= '600px'>
      </div>
  
  <div class="col-md-4">
    <div class="card-body">
      <h4 class="card-title">Current Weather on Mars:<hr/></h4>
      <p class="card-text">
        {{ mars_info.mars_weather}}
      </p>
    </div>
    <br>
    <div class="card-body" margin-top: 20px;>
      <h4 class="card-title">Mars Fun Facts!</h4>
      {{ mars_info.mars_table_html|safe }}
    </div>
  </div>
</div>
</div>

  <div class="row comparison-charts" style="margin-top: 40px; margin-bottom: 20px;">
    <div class="container">
        <div> <h1 class="text-center">Mars Hemispheres</h1></div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <h3 style="text-align: center; padding-top: 10px;">{{ mars_info.hemisphers[0].title }}</h3>
            <img mg src="{{ mars_info.hemisphers[0].img_url }}" alt="Cerberus Hemisphere" class="img-responsive viz-links img-fluid comparison-images">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
          <h3 style="text-align: center; padding-top: 10px;">{{ mars_info.hemisphers[1].title }}</h3>
          <img mg src="{{ mars_info.hemisphers[1].img_url }}" alt="Schiaparelli Hemisphere" class="img-responsive viz-links img-fluid comparison-images">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
          <h3 style="text-align: center; padding-top: 10px;">{{ mars_info.hemisphers[2].title }}</h3>
          <img mg src="{{ mars_info.hemisphers[2].img_url }}" alt="Syrtis Major Hemisphere" class="img-responsive viz-links img-fluid comparison-images">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
          <h3 style="text-align: center; padding-top: 10px;">{{ mars_info.hemisphers[3].title }}</h3>
          <img mg src="{{ mars_info.hemisphers[3].img_url }}" alt="Valles Marineris Hemisphere" class="img-responsive viz-links img-fluid comparison-images">
        </div>
    </div>
  </div>
  

</body>

</html>