body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
  }

.viz-links{
    height: 150px;
    width: 200px;
    padding: 0px;
}

.comparison-images{
    width: 400px;
    height: 300px;
    min-width: 300px;
    min-height: 200px;
}